<div class="container-fluid">

    <div class="row">
        <div class="col picture">
            <img class="myPhoto" src="../../../../assets/profile-pic.png" alt="My Prophile photo">
            <h1>Leonardo de Paiva Rêgo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col sidebar">
            <div class="row">
                <h2>Soft Skills</h2>
                <hr>
            </div>
            <div class="row align-items-center" *ngFor="let softSkill of softSkills">
                <div class="col text-start pt-1 pb-1">
                    <img class="softskill-image" [src]="softSkill.image" alt="">
                </div>
                <div class="col softskill-text text-start">
                    {{softSkill.softSkill}}
                </div>
                <hr>
            </div>
            <div class="row">
                <h2 class="skill-title">Skills</h2>
                <hr>
            </div>
            <div class="row align-items-center" *ngFor="let skill of skills">
                <div class="col text-start pt-1 pb-1">
                    <img class="softskill-image" [src]="skill.image" alt="">
                </div>
                <div class="col softskill-text text-start">
                    {{skill.skill}}
                </div>
                <hr>
            </div>
            <!-- <p-dataView [value]="softSkills">
                <ng-template pTemplate="header">
                    Soft Skills
                </ng-template>
                <ng-template let-softSkills pTemplate="listItem">
                    <div>
                        <img class="softskill-image" [src]="softSkills.image" alt="">
                        {{softSkills.softSkill}}
                    </div>
                </ng-template>
            </p-dataView>
            <p-dataView [value]="skills">
                <ng-template pTemplate="header">
                    Skills
                </ng-template>
                <ng-template let-skills pTemplate="listItem">
                    <div>
                        <img class="softskill-image" [src]="skills.image" alt="">
                        {{skills.skill}}
                    </div>
                </ng-template>
            </p-dataView> -->
        </div>
    </div>
</div>
