:host::ng-deep{

    .normal{
        background: var(--color-secondary);
    }
    .reverse{
        display: flex;
        flex-flow: row-reverse;
        background: var(--color-primary);
    }

    .projectBox{
        padding: 4em 2em;

        div p{
            text-align: justify;
        }

    }

    .projectImage{
        width: auto;
        height: auto;
        height: 25em;
        border-radius: 1em;
    }

    .projectTitle{
        margin-left: 1em;
        margin-top: 1em;

        font-weight: 700;
        font-size: 2em;

        color: var(--text-color-lightgrey);
    }
}