:host::ng-deep{

    .normal{
        border-radius: 50px;
    }
    .reverse{
        display: flex;
        flex-flow: row-reverse;
    }

    .content{
        padding: 3em;
        border-radius: 18px;
        background: #188BBE;
        box-shadow:  20px 20px 60px #1476a2,
                     -20px -20px 60px #1ca0db;
    }

    .projectBox{
        padding: 4em 2em;

        div p{
            text-align: justify;
        }

        div h3 {
            color: var(--text-color-lightgrey);
        }

    }

    .projectImage{
        width: auto;
        height: auto;
        height: 25em;
        border-radius: 1em;
    }

    .projectTitle{
        margin-left: 1em;
        margin-top: 1em;

        font-weight: 700;
        font-size: 2em;

        color: var(--text-color-lightgrey);
    }
}