:host::ng-deep {

    .containerSkill{
        img{
            width: auto;
            height: auto;
            width: 10em;
        }

        h3{
            font-size: 40px;
            margin: 0 auto;
        }
    }

    .text-end{
        flex-flow: row-reverse;
    }

    .col-sm-2{
        padding-top: 1em;
        border-radius: 0.3em;
    }

    img{
        width: auto;
        height: auto;
        width: 10em;
    }

    p{
        font-size: 30px;
        color: #FFF;
    }

    .content{
        padding: 3em;
        border-radius: 50px;
        border-radius: 18px;
        background: #188BBE;
        box-shadow:  20px 20px 60px #1476a2,
                     -20px -20px 60px #1ca0db;
    }
}