<div class="container-fluid">
    <div class="row mt-3">
        <h3 class="profilesTitles">Soft Skills</h3>
        <div class="col-4 mt-3" *ngFor="let softSkill of softSkills">
            <span class="containerSkill">
                <img [src]="softSkill.image" [alt]="softSkill.softSkill">
                <p>{{softSkill.softSkill}}</p>
            </span>
        </div>
    </div>
    <div class="row mt-3">
        <h3 class="profilesTitles">Skills</h3>
        <div class="col-4 mt-3" *ngFor="let skill of skills">
            <span class="containerSkill">
                <img [src]="skill.image" alt="skill.skill">
                <p>{{skill.skill}}</p>
            </span>
        </div>
    </div>
</div>
