<div class="row">
    <div class="col">
        <div class="row align-items-center text-center">
            <h3 class="profilesTitles mt-5">Soft Skills</h3>
            <div class="col-sm-4" *ngFor="let softSkill of softSkills">
                <img [src]="softSkill.image" alt="skill.skill">
                <p>{{softSkill.softSkill}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row align-items-center text-center">
            <h3 class="profilesTitles mt-5">Skills</h3>
            <div class="col-sm-4" *ngFor="let skill of skills">
                <img [src]="skill.image" alt="skill.skill">
                <p>{{skill.skill}}</p>
            </div>
        </div>
    </div>
</div>


