
<p-dialog header="Create {{tipoDialog}}" [modal]="true" [(visible)]="display" [ngSwitch]="tipoDialog">
  <div class="row">
    <form *ngSwitchCase="'Certificates'" [formGroup]="formCertificate">
      <label>Title</label>
      <input type="text" pInputText formControlName="title">
      <label>Time</label>
      <input type="number" pInputText formControlName="time">
      <label>Description</label>
      <input type="text" pInputText formControlName="description">
      <button pButton label="create" (click)="createCertificate(formCertificate.value)"></button>
    </form>
    <form *ngSwitchCase="'Short Courses'" [formGroup]="formShortCourse">
      <label>Title</label>
      <input type="text" pInputText formControlName="title">
      <label>Time</label>
      <input type="number" pInputText formControlName="time">
      <label>Description</label>
      <input type="text" pInputText formControlName="description">
      <button pButton label="create" (click)="createShortCourse(formShortCourse.value)"></button>
    </form>
    <form *ngSwitchCase="'Employment History'" [formGroup]="formEmploy">
      <label>Company</label>
      <input type="text" pInputText formControlName="company">
      <label>Local</label>
      <input type="text" pInputText formControlName="local">
      <label>Metier</label>
      <input type="text" pInputText formControlName="metier">
      <label>Period</label>
      <input type="text" pInputText formControlName="period">
      <label>Description</label>
      <input type="text" pInputText formControlName="description">
      <button pButton label="create" (click)="createEmploymentHistory(formEmploy.value)"></button>
    </form>
    <form *ngSwitchCase="'Education'" [formGroup]="formEducation">
      <label>Company</label>
      <input type="text" pInputText formControlName="company">
      <label>Local</label>
      <input type="text" pInputText formControlName="local">
      <label>Degree</label>
      <input type="text" pInputText formControlName="degree">
      <label>Period</label>
      <input type="text" pInputText formControlName="period">
      <label>Description</label>
      <input type="text" pInputText formControlName="description">
      <button pButton label="create" (click)="createEducation(formEducation.value)"></button>
    </form>
    <form *ngSwitchCase="'Skill'" [formGroup]="formSkills">
      <label>Skill</label>
      <input type="text" pInputText formControlName="skill">
      <label>image</label>
      <input type="text" pInputText formControlName="image">
      <button pButton label="create" (click)="createSkills(formSkills.value)"></button>
    </form>
    <form *ngSwitchCase="'Soft Skill'" [formGroup]="formSoftSkills">
      <label>Soft Skill</label>
      <input type="text" pInputText formControlName="softSkill">
      <label>image</label>
      <input type="text" pInputText formControlName="image">
      <button pButton label="create" (click)="createSoftSkill(formSoftSkills.value)"></button>
    </form>
  </div>
</p-dialog>

<div class="container-fluid min-vh-100 background">
  <div class="row text-end">
    <div class="col mr-5 mt-2">
      <button pButton label="logout" icon="pi pi-sign-out" (click)="logout()"></button>
    </div>
  </div>
  <div class="container content-container mt-5">
    <div class="row text-center">
      <h1>Edit <i class="pi pi-pencil" style="font-size: 2rem"></i></h1>
    </div>

    <!-- PROFILE -->
    <div class="row mt-5">
      <div class="col">
        <h2>Edit Profile</h2>
        <p-table [value]="profileDescription">
          <ng-template pTemplate="header">
            <tr>
              <th>Description</th>
              <th style="width: 10%;">action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-profile>
            <tr>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="profile.description">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{profile.description}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="buttonset">
                <button pButton icon="pi pi-save" (click)="alterarProfile(profile)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!-- EDUCATION -->
    <div class="row mt-5">
      <div class="col">
        <span class="title-plus">
          <h2>Edit Education</h2>
          <button pButton icon="pi pi-plus" (click)="display = true; tipoDialog = 'Education'"></button>
        </span>
        <p-table [value]="education">
          <ng-template pTemplate="header">
            <tr>
              <th>company</th>
              <th>local</th>
              <th>degree</th>
              <th>period</th>
              <th style="width: 30%;">description</th>
              <th style="width: 10%;">action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-education>
            <tr>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="education.company">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{education.company}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="education.local">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{education.local}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="education.degree">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{education.degree}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="education.period">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{education.period}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="education.description">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{education.description}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="buttonset">
                <button pButton icon="pi pi-save" (click)="alterarEducation(education)"></button>
                <button pButton icon="pi pi-times" class="p-button-danger" (click)="deleteEducation(education._id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!-- EMPLOYMENT History -->
    <div class="row mt-5">
      <div class="col">
        <span class="title-plus">
          <h2>Edit Employment History</h2>
          <button pButton icon="pi pi-plus" (click)="display = true; tipoDialog = 'Employment History'"></button>
        </span>
        <p-table [value]="employmentHistory">
          <ng-template pTemplate="header">
            <tr>
              <th>company</th>
              <th>local</th>
              <th>metier</th>
              <th>period</th>
              <th style="width: 30%;">description</th>
              <th style="width: 10%;">action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-employment>
            <tr>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="employment.company">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{employment.company}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="employment.local">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{employment.local}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="employment.metier">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{employment.metier}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="employment.period">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{employment.period}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="employment.description">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{employment.description}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="buttonset">
                <button pButton icon="pi pi-save" (click)="alterarEmploymentHistory(employment)"></button>
                <button pButton icon="pi pi-times" class="p-button-danger" (click)="deleteEmploymentHistory(employment._id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!-- SHORT COURSES -->
    <div class="row mt-5">
      <div class="col">
        <span class="title-plus">
          <h2>Edit Short Courses</h2>
          <button pButton icon="pi pi-plus" (click)="display = true; tipoDialog = 'Short Courses'"></button>
        </span>
        <p-table [value]="shortCourses">
          <ng-template pTemplate="header">
            <tr>
              <th>Title</th>
              <th>Time</th>
              <th>Description</th>
              <th style="width: 10%;">action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-course>
            <tr>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="course.title">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{course.title}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="course.time">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{course.time}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="course.description">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{course.description}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="buttonset">
                <button pButton icon="pi pi-save" (click)="alterarShortCourse(course)"></button>
                <button pButton icon="pi pi-times" class="p-button-danger" (click)="deleteShortCourse(course._id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!-- CERTIFICATES -->
    <div class="row mt-5">
      <div class="col">
        <span class="title-plus">
          <h2>Edit Certificates</h2>
          <button pButton icon="pi pi-plus" (click)="display = true; tipoDialog = 'Certificates'"></button>
        </span>
        <p-table [value]="certificates">
          <ng-template pTemplate="header">
            <tr>
              <th>Title</th>
              <th>Time</th>
              <th>Description</th>
              <th style="width: 10%;">action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-course>
            <tr>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="course.title">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{course.title}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="number" [(ngModel)]="course.time">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{course.time}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="course.description">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{course.description}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="buttonset">
                <button pButton icon="pi pi-save" (click)="alterarCertificate(course)"></button>
                <button pButton icon="pi pi-times" class="p-button-danger" (click)="deleteCertificate(course._id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!-- SKILLS -->
    <div class="row mt-5">
      <div class="col">
        <span class="title-plus">
          <h2>Edit Skills</h2>
          <button pButton icon="pi pi-plus" (click)="display = true; tipoDialog = 'Skill'"></button>
        </span>
        <p-table [value]="skills">
          <ng-template pTemplate="header">
            <tr>
              <th>Skill</th>
              <th>image link</th>
              <th style="width: 10%;">action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-skill>
            <tr>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="skill.skill">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{skill.skill}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="skill.image">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{skill.image}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="buttonset">
                <button pButton icon="pi pi-save" (click)="alterarSkill(skill)"></button>
                <button pButton icon="pi pi-times" class="p-button-danger" (click)="deleteSkill(skill._id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!-- SoftSKILLS -->
    <div class="row mt-5">
      <div class="col">
        <span class="title-plus">
          <h2>Edit Soft Skill</h2>
          <button pButton icon="pi pi-plus" (click)="display = true; tipoDialog = 'Soft Skill'"></button>
        </span>
        <p-table [value]="softSkills">
          <ng-template pTemplate="header">
            <tr>
              <th>Soft Skill</th>
              <th>image link</th>
              <th style="width: 10%;">action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-softSkill>
            <tr>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="softSkill.softSkill">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{softSkill.softSkill}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <textarea pInputTextarea [autoResize]="true" type="text" [(ngModel)]="softSkill.image">
                    </textarea>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{softSkill.image}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="buttonset">
                <button pButton icon="pi pi-save" (click)="alterarSoftSkill(softSkill)"></button>
                <button pButton icon="pi pi-times" class="p-button-danger" (click)="deleteSoftSkill(softSkill._id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
