:host::ng-deep{

    .col-4{
        text-align: justify;
    }

    .content{
        height: 90%;

        padding: 1em;
        margin-bottom: 2em;

        border-radius: 18px;
        background: #188BBE;
        box-shadow:  20px 20px 60px #1476a2,
                     -20px -20px 60px #1ca0db;
    }
}