:host::ng-deep{

    .menubar{
        background: #111111cc;
        box-shadow: 0px 10px 10px -15px #111;
        height: 4em;
    }

    .p-sidebar{
        background: var(--color-quartiary);
        width: 20vw;
    }
}