<div class="container-fluid vh-100">
    <div class="row align-items-center h-75">
        <div class="col-sm-4 text-center">
            <img class="myPhoto" src="../../../../assets/profile-pic2.png" alt="My Prophile photo">
        </div>
        <div class="col text-end">
            <h1 class="name">Leonardo de Paiva Rêgo</h1>
            <h2 class="role">Web Developer Full Stack</h2>
        </div>
    </div>
    <div class="row h-25">
        <div class="col text-center">
            <img class="continue" src="https://cdn-icons-png.flaticon.com/512/32/32195.png" alt="continue arrow">
        </div>
    </div>
    
</div>
<div class="container-fluid">
    <div class="row socialIcons">
        <div class="col text-center">
            <span class="social">
                <a href="https://www.linkedin.com/in/leonadodepaiva/?locale=en_US" target="_blank">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" />
                </a>
                <a href="https://github.com/LeonardoPaiv" target="_blank">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" />
                </a>
            </span>
        </div>
    </div>
</div>