:host {
    // .container-fluid {
    //     background: rgb(255, 244, 213);
    //     background: linear-gradient(180deg, rgba(255, 244, 213, 1) 0%, rgba(251, 201, 112, 1) 100%);
    // }

    .col {
        padding: 0;
    }

    .menu {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}