:host::ng-deep{
    .myPhoto{
        margin: 20vh 0 0 0 ;
        width: auto;
        height: auto;
        max-width: 25em;
    }

    .name{
        font-size: 100px;
        color: #495057;
    }

    .role{
        margin-bottom: 15vh;
        color: #FF6D19;
        margin-left: 5em;
        font-size: 70px;
    }
}