<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <img class="myPhoto" src="../../../../assets/profile-pic2.png" alt="My Prophile photo">
            <h1 class="name">Leonardo de Paiva Rêgo</h1>
            <h2 class="role">Web Developer Full Stack</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img class="continue" src="https://cdn-icons-png.flaticon.com/512/32/32195.png" alt="continue arrow">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <span class="social">
                <a href="https://www.linkedin.com/in/leonadodepaiva/?locale=en_US">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" />
                </a>
                <a href="https://github.com/LeonardoPaiv">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" />
                </a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-profile-home></app-profile-home>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <app-skills></app-skills>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h3 class="profilesTitles">Projects</h3>
            <div class="col-4">
                <h3 class="profilesTitles"></h3>
                <p></p>
            </div>
        </div>
    </div>
</div>