@import './styles/colors.scss';
@import './styles/class.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');:root{
    body{
        font-family: 'Roboto', sans-serif;
    }
      body::-webkit-scrollbar {
        width: 0.8em;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(125,198,232,1) 100%);
      }
      body::-webkit-scrollbar-thumb {
        background-color: #338fff  ;
        border-radius: 6px;
        border: 3px solid #338fff ;
      }
}